@charset "utf-8";
@import "base";
html,body { width: 100%; height: 100%; overflow: hidden;}
// --- 弹幕
.p-bullet-box {
	//position: absolute; right: 0; top: 50%; width: 100%; height: 300px; margin-top: -150px;

	.unitbox { position: fixed; right: 10px; top: 50%; -webkit-transition: -webkit-transform 0.5s ease-in, opacity 0.5s ease; transition: transform 0.5s ease-in, opacity 0.5s ease; z-index: 10;}




	.unit { float: left; display: block; padding: 5px 40px 5px 15px; background: rgba(0,0,0,.4); color: #fff; border-radius: 15px; cursor: pointer; position: relative;
		&.active { -webkit-animation: active ease-in-out 0.3s; animation: active ease-in-out 0.3s;}
		&.on { color: #55bdff;}
		.face { position: absolute; right: 0; top: 0; display: block; width: 30px; height: 30px; border-radius: 15px;}
		.text { float: left; max-width: 205px; font-size: 12px; line-height: 20px; max-height: 40px; overflow: hidden; word-break: break-all;}
	}





	.heart { position: absolute; display: block; width: 15px; height: 15px; background: url("../images/p-heart.png") no-repeat 0 0; background-size: 15px 15px; z-index: 100;}

	&.danmu1 {
		.unitbox { right: 10px; top: 50%;}
	}
	&.danmu2 {
		.unitbox { right: 10px; top: 100%;}
	}
}
img.emoji { height: 1em; width: 1em; margin: 0 .05em 0 .1em; vertical-align: -0.1em; }
.line { position: absolute; left: 0; top: 50%; right: 0; display: block; width: 100%; height: 1px; background: #555;}



@-webkit-keyframes active {
	0% { -webkit-transform: scale(1); transform: scale(1);}
	50% { -webkit-transform: scale(0.85); transform: scale(0.85);}
	100% { -webkit-transform: scale(1); transform: scale(1);}
}
@keyframes active {
	0% { -webkit-transform: scale(1); transform: scale(1);}
	50% { -webkit-transform: scale(0.85); transform: scale(0.85);}
	100% { -webkit-transform: scale(1); transform: scale(1);}
}



